asynccmd==0.2.4
bleak==0.21.1
bleak-winrt==1.2.0
contourpy==1.1.0
cycler==0.11.0
fonttools==4.42.1
kiwisolver==1.4.5
matplotlib==3.7.3
numpy==1.25.2
packaging==23.1
pandas==2.1.0
Pillow==10.0.0
pip==23.1.2
psutil==5.9.5
pyparsing==3.1.1
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
python-dateutil==2.8.2
pytz==2023.3.post1
pywin32==306
setuptools==65.5.0
six==1.16.0
tk==0.1.0
typing_extensions==4.8.0
tzdata==2023.3
